.accordion
{
  width:90%;
  margin:2rem auto;
}
.accordion-item
{
  border:none;
  border-bottom: 2px solid rgba(0,0,0,.125);
  margin:1rem 0;
}
.accordion-item-header
{
  padding:0.5rem 3rem 0.5rem 1rem;
  min-height:3.5rem;
  line-height: 1.25rem;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after
{
  content:"\02C5";
  font-size:2rem;
  position: absolute;
  right:1rem;
  color: #1a73e8;
}
.accordion-item-header.active::after
{
  transform: rotate(180deg);
}
.accordion-item-body
{
  display: none;
  font-size: 14px;
  padding: 1rem;
  line-height: 1.5rem;
  border-top:2px solid #1a73e8;
  transition:0.2s ease-in
}

.accordion-item-header.active + .accordion-item-body
{
  display:block;
}



.image
{
  background:url("../images/faq_image.jpg");
  height:300px
}

.image-text
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left:5% ;
  height:100%;
  color:#fff;
}



header img
{
  width: 100px;
  height:50px;
  padding:20px 0px 2px 0px

}
header p
{
  padding: 12px 0px 5px 3px;
  font-size: 25px;
}
.navbar-brand 
{
  border-bottom: 1px solid;
  width:300px;
  margin-bottom: 20px;
}
.navbar-brand  p
{
  padding:0px 0px 5px 3px;
  font-size: 25px;
  display:inline-block;
  vertical-align: middle;
  margin-top:0;
  margin-bottom:0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.navbar-brand  img
{
  width:100px;
  height:50px;
  padding:0px 0px 2px 0px;
  display: inline-block;
}

.header_logos,.brand-logo-desktop
{
  display:flex;
  
}
.hide{
  display: none !important;
}


.footer-image img
{
  
  width:120px;
  height: 40px;
 padding-left:10px 70px 0px 0px
}
.footer-main-links .footer-link
{
  color: black;
  text-decoration: none;
font-size: 14px;
padding: 0px 10px 0px 10px;

}

.footer-link:hover
{
  color:black;
}



.footer-link-right
{
  padding-left:100px ;
  color:black;
  text-decoration:none;
}

.footer-elements
{
  display:flex;
  flex-direction: column;
}







/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y:scroll;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color:black
}




.openbtn {
  font-size: 15px;
  cursor: pointer;
  /* background-color: silver; */
  color: white;
  /* padding:0px 3px 5px 3px; */
  margin:20px;
  border: none;
}




#main {
  transition: margin-left .5s; /* If you want a transition effect */
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */


/* Desktop  */
@media (min-width: 993px) 
{
  .openbtn
  {
    display: none;
  }
}

@media(max-width:992px)
{
  .expanded-navbar
  {
    display:none
  }
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}